/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/
/public/css/
/public/images/
/public/js/charts/
/public/js/core/
/public/js/maps/
/public/js/pages/
/public/js/plugins/
/public/less/
/public/pdf_catalogues/
/public/product_images/


.phpunit
.phpunit.result.cache
/phpunit.xml
.env
.env.*
.htaccess
.idea
.idea/
*.php~
composer.lock
symfony.lock

