<div class="row">
    <div class="col col-md-6 text-start">
        <h3 class=" ">{{ product.name }}</h3>
        <h5 class="">{{ product.idFormat.name }} cm</h5>
    </div>
    <div class="col col-md-6 text-center text-wrap border-left-outlet">
        <h3 class="text-discount"><span class="font-sofia-bold">Descuento <br>{{ product.discount }}%</span></h3>
        <p>Precio final </p>
        <h5 class="text-discount font-sofia-bold">{{ product.price }} $ / unidad</h5>
    </div>
</div>