<div class="col-md-12 mb-5 pt-1  outlet-bg-color text-center text-white">
    <h1 class="pt-1 pb-1"><span class="font-sofia-bold">OUTLET</span> / DESCUENTOS DE HASTA EL <span class="font-sofia-bold">50%</span></h1>
</div>
