<footer class="footer p-3 mt-5">
{#    <div class="row">
    <div class="col-md-2">
        <img src="{{ asset('images/estilker_logo_footer.png') }}" alt="" width="100%">
    </div>
        <div class="col-md-8 font-sofia-bold">
        <div class=" row mt-4">
            <div class="col-md-2 text-white text-center"><span>Home</span></div>
            <div class="col-md-2 text-white text-center"><span>Catalogo</span></div>
            <div class="col-md-2 text-white text-center"><span>Sets</span></div>
            <div class="col-md-3 text-white text-center"><span>Quienes somos</span></div>
            <div class="col-md-2 text-white text-center"><button class="badge rounded-pill bg-white text-dark p-2">Finalizar pedido</button></div>

        </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 font-sofia-bold">
            <p class="text-center text-white mt-3">Redes sociales</p>
            <div class="d-flex justify-content-center">
                <div class="ps-1 pe-1">
                <img src="{{ asset('images/rrss_footer_facebook.png') }}" alt="">
                </div>
                <div class="ps-1 pe-1">
                    <img src="{{ asset('images/rrss_footer_instagram.png') }}" alt="">
                </div>
                <div class="ps-1 pe-1">
                    <img src="{{ asset('images/rrss_footer_twitter.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>#}
        <div class="text-center my-auto">

            <p class="text-white pt-1">Estilker colombia SAS 2020 Derechos Reservados</p>
        </div>

</footer>